{% extends "base.html" %}
{% block title %}Об авторе проекта{% endblock %}
{% block content %}
  {% load static %}
  <div class="row">
    <div class = "my-5">
      <h3 align=center>
        Рад Вас видеть на нашем сайте :)
      </h3>
    </div>
  </div>
  <div class="row">
    <p align=justify>
      <div
        class="col-12 col-md-9"
        >Привет! Удивлюсь, если кто-то зайдёт на эту страницу. Но если зашли, то
        вот информация обо мне: Мне 37 лет. И у меня два высших образования
        (медицинское и экономическое), которые позволили мне успешно
        работать в фармацевтическом маркетинге (вы 100% видели по ТВ рекламные
        ролики лекарств моей зоны ответственности), и 21 июня 2021 года 
        (почти 5 месяцев назад), когда мой стаж в этой сфере 
        составил <strong>10</strong> лет,
        я... уволился. Это было взвешенное продуманное
        и тщательно подготовленное решение, которое было продиктовано желанием стать
        <strong>программистом</strong> с одной стороны 
        (это всегда было моим хобби, я всегда любил интересные
        задачки, и к этому моменту уже много раз пробовал проходить курсы,
        мешало полное отсутствие
        свободного для этого времени) и отсутствием мотивации развиваться
        в фармацевтическом маркетинге с другой; захотелось чего-то более осмысленного,
        общественно полезного и вызывающего внутреннее моральное удовлетворение.
        Так что для меня этот курс - просчитанная авантюра,
        которую я <b>наконец-то</b> смог себе позволить.</div>
      <div class="col-12 col-md-3">
        <img
          src="{% static "about/author/Orel.jpg" %}"
          height="500"
          width="375">
      </div>
    </p>
  </div>
{% endblock %} 