{% extends "base.html" %}
{% block title %}Технологии{% endblock %}
{% block content %}
  <div class="row">
    <div class="my-3">
      <h3 align="center">Вот что я умею</h3>
    </div>
    <aside class="col-12 col-md-3">
      <ul class="list-group list-group-flush">
        <li class="list-group-item">Python 3.8.0</li>
        <li class="list-group-item">Django 2.2.9</li>
        <li class="list-group-item">И даже Bootsrap 5.1.3</li>
      </ul>
    </aside>
    <article class="col-12 col-md-9">
      <h5
        align="left">
        <p>
          При создании сайта использованы самые современные технологии,
          многие из которых <i>почти что</i> засекречены.
        </p>
      </h5>
      <h6>
        <p
          class="text-muted"
          >Отдельно хочется упомянуть технологию "адаптивное меню", 
          которую мы узнали, расшифровав самую сложную часть 
          манускрипта Войнича.</p>
      </h6>
    </article>
  </div>
{% endblock %}
